<% provide :title, t(".about") %>
<h1><%= t ".about" %></h1>
<p>
  <%= t ".the" %>
  <%= link_to t("ror_tut"), Settings.railstutorial %> <%=  t ".part_of_the" %>
  <%= link_to t(".learn_enough"), Settings.learnenough %> <%= t ".def_tut_family" %>
  <%= link_to t(".book"), Settings.railsbook %>  <%= t ".and" %>
  <%= link_to t(".scr_se"), Settings.videoseries %>
  <%= t ".teach_web" %>
  <%= link_to t("ror_tut"), Settings.railstutorial %>.
  <%= t ".des_app" %>.
</p>
