<% provide :title, t(".help") %>
<h1><%= t ".help" %></h1>
<p>
  <%= t ".des_help" %>
  <%= link_to t(".link_help_page"), Settings.help_here %>.
  <%= t ".get_help" %>
  <%= link_to t("ror_tut"), Settings.railsbook %>
  <%= t ".book" %>
</p>
